body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  color: #222;
  font-family: "PingFang-TC", "蘋方", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
a,
p,
h1,
h2,
h3,
h4 {
  text-decoration: none;
  margin: 0;
}
#index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
header {
  border-bottom: 1px solid #999999;
}
.header-m {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-m .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}
.header-m .menu:after {
  content: "";
  background-image: url(../image/menu-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 24px;
  width: 24px;
  margin: auto;
}
.header-m .logo-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.header-m .logo-space img {
  width: 136px;
}
.header-m .footerint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  color: #128de3;
}
.header-m .footerint:after {
  content: "足跡";
  font-size: 12px;
  font-style: normal;
  margin-top: 2px;
}
.header-pc {
  display: flex;
  flex-direction: row;
  height: 90px;
  padding: 10px 0;
  transition: 0.3s;
}
.header-pc.normalHieght {
  height: 50px;
}
.header-pc.normalHieght .info {
  display: none;
}
.header-pc.normalHieght .option {
  flex: 2;
  text-align: right;
}
.header-pc.normalHieght .option .btn-group {
  display: inline-block;
}
.header-pc .info {
  flex: 1;
  font-size: 14px;
  color: #585858;
}
.header-pc .info > div {
  margin-top: 17px;
}
.header-pc .info .hr {
  font-size: 16px;
}
.header-pc .info .hr span {
  margin-right: 5px;
  color: #03a0e9;
  font-size: 20px;
  font-weight: 700;
}
.header-pc .option .search {
  text-align: right;
  width: 300px;
  height: 30px;
  border: solid 2px #e6e6e6;
  margin-top: 15px;
  background: url('http://p.i3fresh.tw/images/searchicon.png') no-repeat scroll transparent;
  background-position: right center;
  background-position-x: 300px;
  padding-right: 20px;
  padding-left: 10px;
}
.header-pc .option .btn-group {
  font-size: 16px;
  text-align: right;
  margin-top: 12px;
}
.header-pc .option .btn-group a {
  color: #000000;
  margin: 0 5px;
}
.header-pc .option .btn-group a img {
  margin-right: 5px;
  height: 16px;
  vertical-align: baseline;
}
footer nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4a4a;
}
footer nav .item {
  display: inline-block;
  flex: 1;
  height: 100%;
  color: #eeeeee;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}
footer nav .item p {
  margin: 0;
}
footer nav .item img {
  height: 24px;
  width: 24px;
}
footer.show-pc {
  width: 100%;
  text-align: center;
}
footer.show-pc .icon {
  margin: 20px 0;
}
footer.show-pc .icon a {
  display: inline-block;
  width: 34px;
  height: 34px;
}
footer.show-pc .icon i {
  float: left;
  background-image: url(http://p.i3fresh.tw/images/icon_list.png);
  width: 34px;
  height: 34px;
}
footer.show-pc .icon .fb {
  background-position: 0px 0px;
}
footer.show-pc .icon .line {
  background-position: 80px 68px;
}
footer.show-pc .icon .ig {
  background-position: 34px 34px;
}
footer.show-pc ul {
  border-top: 1px solid #aacd05;
  padding-top: 20px;
  list-style: none;
}
footer.show-pc ul li {
  display: inline-block;
  color: #000;
  font-size: 12px;
  padding: 0 8px;
}
footer.show-pc ul li:not(:last-child) {
  border-right: 1px solid #4a4a4a;
}
.main {
  flex: 1;
  overflow-y: auto;
}
@media screen and (min-width: 769px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main::-webkit-scrollbar {
    display: none;
  }
  .main .right-content {
    flex: 101;
  }
}
.banner {
  height: 236px;
  background: #eeeeee;
}
@media screen and (min-width: 769px) {
  .banner {
    display: inline-block;
    width: 789px;
    height: 458px;
    float: left;
  }
}
.特價廣告 {
  display: flex;
  flex-direction: row;
}
.特價廣告 a {
  height: min-content;
  width: 100%;
}
.特價廣告 a img {
  width: 100%;
  display: inline-flex;
}
@media screen and (min-width: 769px) {
  .特價廣告 {
    width: 223px;
    flex-direction: column;
  }
  .特價廣告 a {
    height: 229px;
  }
}
.category {
  margin-top: 20px;
}
.category .tab {
  display: flex;
  flex-direction: row;
}
.category .tab .tab-item {
  flex: 1;
  height: 48px;
  background: #eeeeee;
  border: solid 1px #dddddd;
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.category .tab .tab-item.current {
  border-top: 2px solid #f6a623;
  border-bottom: none;
  background-color: #f8f8f8;
}
.category .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.category .product {
  margin: 10px 10px 0;
}
@media screen {
  .category .product {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 769px) {
  .category .product {
    width: calc((100% - 40px)/ 2);
  }
}
@media screen and (min-width: 769px) {
  .category .product {
    width: calc((100% - 60px )/ 3);
  }
}
.category .product a {
  display: flex;
  flex-direction: column;
}
.category .product .productImg {
  width: 100%;
}
.category .product .discribe {
  display: flex;
  flex-direction: column;
  color: #2d2d2d;
  background: #ffffff;
  border: solid 1px #dfdfdf;
  padding: 20px;
}
.category .product .discribe .price-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #a5a5a5;
  font-size: 14px;
  margin: 15px 0;
}
.category .product .discribe .price-area .saled,
.category .product .discribe .price-area .original-price,
.category .product .discribe .price-area .discount {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 44px;
}
.category .product .discribe .price-area .saled p {
  color: #f56b23;
  display: inline;
}
.category .product .discribe .price-area .original-price {
  border-left: 2px solid #eee;
  text-decoration: line-through;
}
.category .product .discribe .price-area .discount {
  border-left: 2px solid #eee;
}
.category .product .discribe .price-area .discount p {
  font-size: 24px;
  color: #ee3a31;
  display: inline;
}
.category .product .discribe button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #fbe7b5, #f1c445);
  box-shadow: inset 0 1px 2px 0 #ffffff;
  border: solid 1px #e97600;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3.6px;
  color: #1f1f1f;
}
.category .product .discribe button img {
  margin-right: 7px;
}
.category .product .discribe button:active {
  background-image: linear-gradient(to top, #fbe7b5, #f1c445);
  box-shadow: inset 0 1px 2px 0 #ffffff;
}
.left-menu-block .mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(73, 73, 73, 0.9);
}
.left-menu-block.open .mask {
  display: block;
}
.left-menu-block.open .left-menu {
  left: 0;
}
.left-menu-block .left-menu,
.left-menu-block .subMenuShow {
  position: absolute;
  top: 0;
  left: -340px;
  transition: 0.5s;
  width: 340px;
  height: 100vh;
  overflow: auto;
  background: #ffffff;
  border-right: 1px solid #dddddd;
  z-index: 15;
}
.left-menu-block .left-menu .menu-title,
.left-menu-block .subMenuShow .menu-title {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: solid 1px #dddddd;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left-menu-block .left-menu .menu-title .close,
.left-menu-block .subMenuShow .menu-title .close {
  position: absolute;
  left: 20px;
  width: 9px;
  height: 18px;
}
.left-menu-block .left-menu ul,
.left-menu-block .subMenuShow ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.left-menu-block .left-menu ul li,
.left-menu-block .subMenuShow ul li {
  height: 53px;
  padding: 0 20px;
  list-style: none;
  border-bottom: solid 1px #dddddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.left-menu-block .left-menu ul li.title,
.left-menu-block .subMenuShow ul li.title {
  font-weight: bolder;
}
.left-menu-block .left-menu ul li.sub:after,
.left-menu-block .subMenuShow ul li.sub:after {
  position: absolute;
  right: 20px;
  content: '';
  width: 9px;
  height: 18px;
  background-image: url(http://m.i3fresh.tw/Htdocs/img/arrow_back@2x.png);
  background-size: 9px 14px;
  background-position: 0 center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.left-menu-block .left-menu ul li a,
.left-menu-block .subMenuShow ul li a {
  color: #222;
}
.left-menu-block .subMenuShow {
  z-index: 20;
}
.left-menu-block .subMenuShow.open {
  left: 0;
}
.left-menu-pc {
  flex: 26;
  border-radius: 3px;
  border: 1px solid #c9caca;
  height: min-content;
  position: sticky;
  margin-right: 10px;
  top: 0px;
}
.left-menu-pc .title-blue,
.left-menu-pc .title-green {
  color: #eeeeee;
  padding-left: 13px;
  height: 43px;
  line-height: 43px;
}
.left-menu-pc .title-blue {
  background: #63c1ed;
}
.left-menu-pc .title-green {
  background: #b4d51c;
}
.left-menu-pc .mune-list {
  list-style: none;
  padding-left: 15px;
}
.left-menu-pc .mune-list li {
  cursor: pointer;
  margin-top: 14px;
}
.left-menu-pc .mune-list li a {
  color: #000000;
  font-size: 16px;
  display: block;
}
.left-menu-pc .mune-list li a::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url(http://p.i3fresh.tw/images/hot_b.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.left-menu-pc .mune-list li a:hover {
  color: #42bbf4;
}
.left-menu-pc .mune-list li a:hover:before {
  background-image: url(http://p.i3fresh.tw/images/hot_color.svg);
}
.left-menu-pc .mune-list li.mainLi a:after {
  content: "+";
  float: right;
  margin-right: 10px;
}
.left-menu-pc .mune-list .subMenu {
  padding-left: 25px;
  display: none;
}
.left-menu-pc .mune-list .subMenu a::before {
  content: none;
}
.left-menu-pc .mune-list .subMenu.show {
  display: block;
}
.left-menu-pc .keyword {
  padding: 14px;
}
.left-menu-pc .keyword .keyword-list {
  display: inline-block;
  border: 1px solid #e8e8e8;
  color: #000;
  padding: 4px;
  font-size: 16px;
  margin: 0 4px 7px 0;
}
.left-menu-pc .keyword .keyword-list:hover {
  border: 1px solid #42bcf4;
  color: #42bcf4;
}
.fixed-box {
  width: 49px;
  float: right;
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 20;
  text-align: center;
}
.fixed-box .blue {
  z-index: 20;
  position: relative;
  margin-top: 5px;
  padding: 10px 0;
  font-size: 14px;
  color: #FFF;
  height: min-content;
  background-color: #00a0e9;
  border-radius: 3px;
}
.fixed-box .history {
  overflow: hidden;
}
.fixed-box .history .history-block {
  position: relative;
  top: 65px;
  transition: 0.3s;
}
.fixed-box .history .history-block.open {
  top: 0;
}
.fixed-box .history img {
  width: 50px;
}
.fixed-box .history .top,
.fixed-box .history .bottom {
  background: #00a0e9;
  display: block;
  text-align: center;
  height: 14px;
  line-height: 7px;
}
.fixed-box .history .top::before,
.fixed-box .history .bottom::before {
  content: '';
  display: inline-block;
  border-style: solid;
  border-width: 5px;
}
.fixed-box .history .top::before {
  border-color: transparent transparent #eee transparent;
}
.fixed-box .history .bottom::before {
  border-color: #eee transparent transparent transparent;
}
@media screen and (max-width: 769px) {
  .show-pc {
    display: none;
  }
  .container {
    width: auto;
    margin: auto;
  }
}
@media screen and (min-width: 769px) {
  .show-m {
    display: none;
  }
  .container {
    width: 1296px;
    margin: 0 auto;
  }
}
