<!DOCTYPE html>
<html>

<head>
    <title>切版</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <div id="index">
        <header>
            <div class="show-m header-m">
                <i class="menu" @click="menuOpen = true"></i>
                <div class="logo-space">
                    <img src="./image/logo.png" />
                </div>
                <i class="footerint">
                    <img src="./image/footprint.png" width="24px" />
                </i>
            </div>
            <div class="show-pc header-pc container" :class="{normalHieght:!normalHieght}">
                <a href="#" class="home">
                    <img src="http://p.i3fresh.tw/images/logo.png" alt="愛上新鮮" height="100%">
                </a>
                <div class="info">
                    <div class="hr">
                        <span>24HR</span>快速到貨 | 16:00以前訂購明天到貨
                    </div>
                    <div>TEL: (02)2321-0311 星期一到星期五 9:00-18:00</div>
                </div>
                <div class="option">
                    <input type="text" class="search">
                    <div class="btn-group">
                        <a href="#">
                            <img src="http://p.i3fresh.tw/images/usericon.png" alt="註冊登入" />會員註冊/登入
                        </a>
                        <a href="#">
                            <img src="http://p.i3fresh.tw/images/carticon.svg" alt="結帳" />結帳
                        </a>
                        <a href="#">
                            <img src="http://p.i3fresh.tw/images/likeicon.svg" alt="收藏清單" />收藏清單
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="main container" id="main" @scroll="toggleHeaderStatus">
            <div class="left-menu-pc show-pc">
                <div class="title-blue">商品選單</div>
                <div>
                    <ul class="mune-list">
                        <template v-for="(menu,index) in leftMenuList[0].contentList">
                            <li :class="{mainLi:menu.subMenu}" @click="showSubMenu(menu,index)">
                                <a :href="menu.url">
                                    {{menu.text}}
                                </a>
                            </li>
                            <li class="subMenu" :class="{show:showSub===index}" v-for="sub in menu.subMenu">
                                <a :href="sub.url">
                                    {{sub.text}}
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="title-green">熱門關鍵字</div>
                <div class="keyword">
                    <a v-for="keyword in keywordList" :href="keyword.url" class="keyword-list">
                        {{keyword.text}}
                    </a>
                </div>
            </div>
            <div class="right-content" :class="{normalHieght:!normalHieght}">
                <div class="banner">
                    倫波圖
                </div>
                <div class="特價廣告">
                    <a href="#">
                        <img src="http://item.i3fresh.tw/images/cd0e2cd14d927a2634701b5f61851680.jpg" alt="今日下殺" />
                    </a>
                    <a href="#">
                        <img src="http://item.i3fresh.tw/images/fc1e3ac45938a99dbd75e03d255b436b.jpg" alt="今日下殺" />
                    </a>
                </div>
                <div class="category">
                    <div class="tab">
                        <div @click="changeTab(0)" class="tab-item" :class="{current:currentTab===0}">熱銷推薦</div>
                        <div @click="changeTab(1)" class="tab-item" :class="{current:currentTab===1}">最新上架</div>
                        <div @click="changeTab(2)" class="tab-item" :class="{current:currentTab===2}">限時下殺</div>
                    </div>
                    <div class="content">
                        <div class="product" v-for="product in productList[currentTab]">
                            <a href="#">
                                <img class="productImg" :src="product.url" :alt="product.title" />
                                <div class="discribe">
                                    <h3>{{product.title}}</h3>
                                    <div class="price-area">
                                        <div class="saled">
                                            已賣
                                            <br />
                                            <p>{{product.saled}}</p>/{{product.unit}}
                                        </div>
                                        <div class="original-price">
                                            ${{product.originalPrice}}/{{product.unit}}
                                        </div>
                                        <div class="discount">
                                            $
                                            <p>{{product.discount}}</p>/{{product.unit}}
                                        </div>
                                    </div>
                                    <button>
                                        <img src="./image/cart_icon.png" width="32px" /> 前往商品頁
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="show-pc">
                <p>追蹤我們</p>
                <div class="icon">
                    <a href="#">
                        <i class="fb"></i>
                    </a>
                    <a href="#">
                        <i class="line"></i>
                    </a>
                    <a href="#">
                        <i class="ig"></i>
                    </a>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#">最新消息</a>
                        </li>
                        <li>
                            <a href="#">關於我們</a>
                        </li>
                        <li>
                            <a href="#">廠商合作</a>
                        </li>
                        <li>
                            <a href="#">聯繫我們</a>
                        </li>
                        <li>
                            <a href="#">購物說明</a>
                        </li>
                        <li>
                            <a href="#">會員服務條款</a>
                        </li>
                        <li>
                            <a href="#">隱私權條款</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <div class="left-menu-block show-m" :class="{open : menuOpen}">
            <div class="mask"></div>
            <nav class="left-menu">
                <div class="menu-title">
                    <img class="close" src="http://m.i3fresh.tw/Htdocs/img/arrow_back@2x.png" @click="menuOpen = false" /> 主選單
                </div>
                <ul>
                    <template v-for="menu in leftMenuList">
                        <li class="title">
                            {{menu.text}}
                        </li>
                        <li v-for="content in menu.contentList" :class="{sub: content.subMenu}" @click="openSubMenu(content)">
                            <a :href="content.url">
                                {{content.text}}
                            </a>
                        </li>
                    </template>
                </ul>
            </nav>
            <nav class="subMenuShow" :class="{open : subMenuOpen}">
                <div class="menu-title">
                    <img class="close" src="http://m.i3fresh.tw/Htdocs/img/arrow_back@2x.png" @click="subMenuOpen = false" />{{subMenuData.text}}
                </div>
                <ul>
                    <li v-for="menu in subMenuData.subMenu">
                        <a :href="menu.url">
                            {{menu.text}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="show-pc fixed-box">
            <div class="history">
                <div class="history-block" :class="{open:historyOpen}">
                    <div class="top"></div>
                    <a href="#">
                        <img src="http://item.i3fresh.tw/images/04d6f60c50dcd305a59f3ce6e845930f_ss.jpg" />
                    </a>
                    <div class="bottom"></div>
                </div>
            </div>
            <div class="blue" @click="historyOpen = !historyOpen">
                <img src="http://p.i3fresh.tw/images/historyicon.svg" width="40px" /> 已瀏覽
            </div>
            <div class="blue" @click="backToTop(300)">
                <img src="http://p.i3fresh.tw/images/topicon.svg" />
            </div>
        </div>
        <footer class="show-m">
            <nav>
                <a class="item">
                    <img src="./image/footer/search.png" />
                    <p>搜尋</p>
                </a>
                <a class="item">
                    <img src="./image/footer/member.png" />
                    <p>會員</p>
                </a>
                <a class="item">
                    <img src="./image/footer/favorite.png" />
                    <p>收藏</p>
                </a>
                <a class="item">
                    <img src="./image/footer/shopcard.png" />
                    <p>結帳</p>
                </a>
            </nav>
        </footer>
    </div>

    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: '#index',
            data: {
                currentTab: 0,
                menuOpen: false,
                subMenuOpen: false,
                normalHieght: true,
                historyOpen: false,
                showSub: null,
                subMenuData: [],
                productList: [
                    [{
                            title: 'Q彈曼波魚皮',
                            url: 'http://item.i3fresh.tw/images/16fdefdc32a2160f819986244afc8770_m.jpg',
                            saled: 7013,
                            originalPrice: 189,
                            discount: 99,
                            unit: '包',
                        },
                        {
                            title: '健康無鹽鯖魚(2片)',
                            url: 'http://item.i3fresh.tw/images/5d928c97bc0766e2d57381b113c73186_m.jpg',
                            saled: 395136,
                            originalPrice: 79,
                            discount: 39,
                            unit: '片',
                        },
                        {
                            title: '總統級超厚霜降牛排21oz',
                            url: 'http://item.i3fresh.tw/images/bc94a78e58646371fd600e3daebae4b8_m.jpg',
                            saled: 352,
                            originalPrice: 1134,
                            discount: 680,
                            unit: '片',
                        },
                        {
                            title: '巨無霸霜降牛排16oz',
                            url: 'http://item.i3fresh.tw/images/ced89a3650e2a186ad4a743a412e98e4_m.jpg',
                            saled: 343778,
                            originalPrice: 680,
                            discount: 299,
                            unit: '片',
                        }, {
                            title: '智利薄鹽鮭魚片',
                            url: 'http://item.i3fresh.tw/images/a1e5174522c50d67c94b1685322b180d_m.jpg',
                            saled: 804,
                            originalPrice: 149,
                            discount: 89,
                            unit: '片',
                        },
                        {
                            title: '墨西哥南極蝦',
                            url: 'http://item.i3fresh.tw/images/7a0c5ac244d929f4cda26af1ca04a912_m.jpg',
                            saled: 132,
                            originalPrice: 250,
                            discount: 199,
                            unit: '包',
                        },
                        {
                            title: '勵馨30澎湖綠金野生海菜組',
                            url: 'http://item.i3fresh.tw/images/bb809b34b42f07ae2398e3f59a2ab426_m.jpg',
                            saled: 118,
                            originalPrice: 888,
                            discount: 599,
                            unit: '份',
                        },
                        {
                            title: '野生殺清馬加魚',
                            url: 'http://item.i3fresh.tw/images/407ad457eced0721a7a7bac1ffea6b82_m.jpg',
                            saled: 418,
                            originalPrice: 58,
                            discount: 59,
                            unit: '尾',
                        }, {
                            title: '總統級超厚霜降牛排21oz',
                            url: 'http://item.i3fresh.tw/images/bc94a78e58646371fd600e3daebae4b8_m.jpg',
                            saled: 352,
                            originalPrice: 1134,
                            discount: 680,
                            unit: '片',
                        },
                        {
                            title: '超值老饕霜降骰子牛肉',
                            url: 'http://item.i3fresh.tw/images/3f312c909713b1c4999aa25d733f9101_m.jpg',
                            saled: 111391,
                            originalPrice: 299,
                            discount: 179,
                            unit: '包',
                        },
                        {
                            title: '美國藍帶特選嫩肩牛肉片',
                            url: 'http://item.i3fresh.tw/images/b11cd971e31ec436bc43cf2e15304624_m.jpg',
                            saled: 9884,
                            originalPrice: 259,
                            discount: 179,
                            unit: '盒',
                        },
                        {
                            title: '韓國HongCho綜合果醋飲',
                            url: 'http://item.i3fresh.tw/images/86c0206141727e151e4897175f58ff8d_m.jpg',
                            saled: 289667,
                            originalPrice: 230,
                            discount: 79,
                            unit: '瓶',
                        }
                    ],
                    [{
                            title: '智利薄鹽鮭魚片',
                            url: 'http://item.i3fresh.tw/images/a1e5174522c50d67c94b1685322b180d_m.jpg',
                            saled: 804,
                            originalPrice: 149,
                            discount: 89,
                            unit: '片',
                        },
                        {
                            title: '墨西哥南極蝦',
                            url: 'http://item.i3fresh.tw/images/7a0c5ac244d929f4cda26af1ca04a912_m.jpg',
                            saled: 132,
                            originalPrice: 250,
                            discount: 199,
                            unit: '包',
                        },
                        {
                            title: '勵馨30澎湖綠金野生海菜組',
                            url: 'http://item.i3fresh.tw/images/bb809b34b42f07ae2398e3f59a2ab426_m.jpg',
                            saled: 118,
                            originalPrice: 888,
                            discount: 599,
                            unit: '份',
                        },
                        {
                            title: '野生殺清馬加魚',
                            url: 'http://item.i3fresh.tw/images/407ad457eced0721a7a7bac1ffea6b82_m.jpg',
                            saled: 418,
                            originalPrice: 58,
                            discount: 59,
                            unit: '尾',
                        }, {
                            title: 'Q彈曼波魚皮',
                            url: 'http://item.i3fresh.tw/images/16fdefdc32a2160f819986244afc8770_m.jpg',
                            saled: 7013,
                            originalPrice: 189,
                            discount: 99,
                            unit: '包',
                        },
                        {
                            title: '健康無鹽鯖魚(2片)',
                            url: 'http://item.i3fresh.tw/images/5d928c97bc0766e2d57381b113c73186_m.jpg',
                            saled: 395136,
                            originalPrice: 79,
                            discount: 39,
                            unit: '片',
                        },
                        {
                            title: '總統級超厚霜降牛排21oz',
                            url: 'http://item.i3fresh.tw/images/bc94a78e58646371fd600e3daebae4b8_m.jpg',
                            saled: 352,
                            originalPrice: 1134,
                            discount: 680,
                            unit: '片',
                        },
                        {
                            title: '巨無霸霜降牛排16oz',
                            url: 'http://item.i3fresh.tw/images/ced89a3650e2a186ad4a743a412e98e4_m.jpg',
                            saled: 343778,
                            originalPrice: 680,
                            discount: 299,
                            unit: '片',
                        }, {
                            title: '總統級超厚霜降牛排21oz',
                            url: 'http://item.i3fresh.tw/images/bc94a78e58646371fd600e3daebae4b8_m.jpg',
                            saled: 352,
                            originalPrice: 1134,
                            discount: 680,
                            unit: '片',
                        },
                        {
                            title: '超值老饕霜降骰子牛肉',
                            url: 'http://item.i3fresh.tw/images/3f312c909713b1c4999aa25d733f9101_m.jpg',
                            saled: 111391,
                            originalPrice: 299,
                            discount: 179,
                            unit: '包',
                        },
                        {
                            title: '美國藍帶特選嫩肩牛肉片',
                            url: 'http://item.i3fresh.tw/images/b11cd971e31ec436bc43cf2e15304624_m.jpg',
                            saled: 9884,
                            originalPrice: 259,
                            discount: 179,
                            unit: '盒',
                        },
                        {
                            title: '韓國HongCho綜合果醋飲',
                            url: 'http://item.i3fresh.tw/images/86c0206141727e151e4897175f58ff8d_m.jpg',
                            saled: 289667,
                            originalPrice: 230,
                            discount: 79,
                            unit: '瓶',
                        }
                    ],
                    [{
                            title: '總統級超厚霜降牛排21oz',
                            url: 'http://item.i3fresh.tw/images/bc94a78e58646371fd600e3daebae4b8_m.jpg',
                            saled: 352,
                            originalPrice: 1134,
                            discount: 680,
                            unit: '片',
                        },
                        {
                            title: '超值老饕霜降骰子牛肉',
                            url: 'http://item.i3fresh.tw/images/3f312c909713b1c4999aa25d733f9101_m.jpg',
                            saled: 111391,
                            originalPrice: 299,
                            discount: 179,
                            unit: '包',
                        },
                        {
                            title: '美國藍帶特選嫩肩牛肉片',
                            url: 'http://item.i3fresh.tw/images/b11cd971e31ec436bc43cf2e15304624_m.jpg',
                            saled: 9884,
                            originalPrice: 259,
                            discount: 179,
                            unit: '盒',
                        },
                        {
                            title: '韓國HongCho綜合果醋飲',
                            url: 'http://item.i3fresh.tw/images/86c0206141727e151e4897175f58ff8d_m.jpg',
                            saled: 289667,
                            originalPrice: 230,
                            discount: 79,
                            unit: '瓶',
                        }, {
                            title: 'Q彈曼波魚皮',
                            url: 'http://item.i3fresh.tw/images/16fdefdc32a2160f819986244afc8770_m.jpg',
                            saled: 7013,
                            originalPrice: 189,
                            discount: 99,
                            unit: '包',
                        },
                        {
                            title: '健康無鹽鯖魚(2片)',
                            url: 'http://item.i3fresh.tw/images/5d928c97bc0766e2d57381b113c73186_m.jpg',
                            saled: 395136,
                            originalPrice: 79,
                            discount: 39,
                            unit: '片',
                        },
                        {
                            title: '總統級超厚霜降牛排21oz',
                            url: 'http://item.i3fresh.tw/images/bc94a78e58646371fd600e3daebae4b8_m.jpg',
                            saled: 352,
                            originalPrice: 1134,
                            discount: 680,
                            unit: '片',
                        },
                        {
                            title: '巨無霸霜降牛排16oz',
                            url: 'http://item.i3fresh.tw/images/ced89a3650e2a186ad4a743a412e98e4_m.jpg',
                            saled: 343778,
                            originalPrice: 680,
                            discount: 299,
                            unit: '片',
                        }, {
                            title: '智利薄鹽鮭魚片',
                            url: 'http://item.i3fresh.tw/images/a1e5174522c50d67c94b1685322b180d_m.jpg',
                            saled: 804,
                            originalPrice: 149,
                            discount: 89,
                            unit: '片',
                        },
                        {
                            title: '墨西哥南極蝦',
                            url: 'http://item.i3fresh.tw/images/7a0c5ac244d929f4cda26af1ca04a912_m.jpg',
                            saled: 132,
                            originalPrice: 250,
                            discount: 199,
                            unit: '包',
                        },
                        {
                            title: '勵馨30澎湖綠金野生海菜組',
                            url: 'http://item.i3fresh.tw/images/bb809b34b42f07ae2398e3f59a2ab426_m.jpg',
                            saled: 118,
                            originalPrice: 888,
                            discount: 599,
                            unit: '份',
                        },
                        {
                            title: '野生殺清馬加魚',
                            url: 'http://item.i3fresh.tw/images/407ad457eced0721a7a7bac1ffea6b82_m.jpg',
                            saled: 418,
                            originalPrice: 58,
                            discount: 59,
                            unit: '尾',
                        }
                    ],
                ],
                leftMenuList: [{
                    text: '商品選單',
                    contentList: [{
                            text: '肉品館',
                            subMenu: [{
                                    text: '全館商品',
                                    url: '#',
                                },
                                {
                                    text: '牛肉',
                                    url: '#',
                                },
                                {
                                    text: '羊肉',
                                    url: '#',
                                },
                                {
                                    text: '豬肉',
                                    url: '#',
                                },
                                {
                                    text: '雞肉',
                                    url: '#',
                                },
                            ],
                        },
                        {
                            text: '海鮮館',
                            subMenu: [{
                                    text: '全館商品',
                                    url: '#',
                                },
                                {
                                    text: '蝦蟹類',
                                    url: '#',
                                },
                                {
                                    text: '軟貝類',
                                    url: '#',
                                },
                                {
                                    text: '魚類',
                                    url: '#',
                                },
                            ]
                        },
                        {
                            text: '產地直送',
                            url: '#',
                        },
                        {
                            text: '調理即食',
                            url: '#',
                        },
                        {
                            text: '健康零嘴、甜點、飲品',
                            url: '#',
                        },
                        {
                            text: '超人氣蔬果',
                            url: '#',
                        },
                        {
                            text: '養生、美容食品',
                            url: '#',
                        },
                    ],
                }, {
                    text: '會員中心',
                    contentList: [{
                            text: '註冊',
                            url: '#',
                        },
                        {
                            text: '登入會員',
                            url: '#',
                        },
                    ],
                }, {
                    text: '關於我們',
                    contentList: [{
                            text: '最新消息',
                            url: '#',
                        },
                        {
                            text: '購物說明',
                            url: '#',
                        },
                        {
                            text: '關於我們',
                            url: '#',
                        },
                        {
                            text: '會員服務條款',
                            url: '#',
                        },
                        {
                            text: '隱私權條款',
                            url: '#',
                        },
                    ],
                }],
                keywordList: [{
                        text: '熱銷推薦',
                        url: '#',
                    },
                    {
                        text: '熱銷排行榜',
                        url: '#',
                    },
                    {
                        text: '最新上架',
                        url: '#',
                    },
                    {
                        text: 'OL最愛零食',
                        url: '#',
                    },
                    {
                        text: '團購超夯',
                        url: '#',
                    },
                    {
                        text: '產地直送',
                        url: '#',
                    },
                    {
                        text: '進口零嘴',
                        url: '#',
                    },
                    {
                        text: '開運年菜',
                        url: '#',
                    },
                    {
                        text: '期間限定',
                        url: '#',
                    },
                    {
                        text: '煮火鍋',
                        url: '#',
                    },
                    {
                        text: '送禮必敗',
                        url: '#',
                    },
                    {
                        text: '健康養生',
                        url: '#',
                    },
                    {
                        text: '人氣必買',
                        url: '#',
                    },
                    {
                        text: '超人氣水果',
                        url: '#',
                    },
                    {
                        text: '限時下殺',
                        url: '#',
                    },
                    {
                        text: '新鮮鯖魚',
                        url: '#',
                    },
                    {
                        text: '健康飲品',
                        url: '#',
                    },
                    {
                        text: '熱銷零嘴',
                        url: '#',
                    },
                    {
                        text: '熱銷生鮮',
                        url: '#',
                    },
                ],
            },
            methods: {
                changeTab: function (tab) {
                    this.currentTab = tab;
                },
                openSubMenu: function (subMenu) {
                    if (subMenu) {
                        this.subMenuData = subMenu;
                        this.subMenuOpen = true;
                    }
                },
                showSubMenu: function (menu, index) {
                    if (menu.subMenu) {
                        this.showSub = (this.showSub === index) ? null : index;
                    }
                },
                backToTop: function (duration) {
                    var element = document.getElementById('main');
                    if (duration <= 0) return;
                    var difference = 0 - element.scrollTop;
                    var perTick = difference / duration * 10;
                    var vm = this;

                    setTimeout(function () {
                        element.scrollTop = element.scrollTop + perTick;
                        if (element.scrollTop == 0) return;
                        vm.backToTop(duration - 10);
                    }, 10);
                },
                toggleHeaderStatus: function (e) {
                    this.normalHieght = e.target.scrollTop === 0;
                },
            },
        });
    </script>
</body>

</html>